#graficoMemoria {
    background-color: #f1f8e9;
    width: 660px;
    height: 450px;
    margin: 10px;
    float: left;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

#informacoesMemoria {
    background-color: #f1f8e9;
    width: 250px;
    height: auto;
    margin: 10px;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

    #informacoesMemoria ul {
        margin: 20px;
        float: left;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }

h3 {
    font-size: 25px;
}
