
#graficoArm {
    width: 400px;
    height: 250px;
    float: left;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

#graficoArm2 {
    width: 390px;
    margin-left: 10px;
    height: 250px;
    float: left;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

#informacoesArm {
    background-color: #f1f8e9;
    width: 250px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

    #informacoesArm ul {
        margin: 20px;
        float: left;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }

#informacoesProcessador2 {
    background-color: #f1f8e9;
    width: 250px;
    height: 450px;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}

    #informacoesProcessador2 ul {
        margin: 20px;
        float: left;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 65px 0;
    }

h3 {
    font-size: 25px;
}
