/*Começo do CSS do sacrificio*/


#infoComputador {
    height: auto;
    width: auto;
    display: inline;
    margin: 20px;
    float: left;
}

#conteudoComputador {
    width: 100%;
    border: solid 1px rgba(192,192,192,0.3);
    height: auto;
    background-color: white;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}
#page-content-wrapper {
    background-color: #fcf9f9;
}



#titulo {
    width: 100%;
    height: 40px;
    background-color: rgb(255,199,56);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.material-icons {
    color: white;
    float: left;
}

#icon {
    float: right;
    margin-left: 50px;
}

    #titulo label {
        font-family: Arial light;
        font-size: 23px;
        margin-top: 10px;
        color: white;
        font-weight: bold;
    }



#infoComputadorT {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#infoPC {
    font-family: Arial light;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 500;
}

#computadorInfo {
    float: left;
    margin: 0px;
    height: auto;
    width: auto;
    font-family: Arial light;
    border: solid 1px rgba(255,199,56, 0.3);
}

    #computadorInfo ul {
        padding: 10px;
        margin: 0px;
        font-family: Arial light;
        font-size: 20px;
    }

    #computadorInfo li {
        margin: auto;
        font-family: Arial light;
        font-size: 17px;
        float: left;
        width: 150px;
    }

#conteudoCpu {
    width: 100%;
    border: solid 1px rgba(192,192,192,0.3);
    height: auto;
    background-color: white;
    flex-wrap: wrap;
    display: flex;
}

#conteudoUsoCpu {
    margin-top: 1px;
    width: 62%;
    border: solid 1px rgba(192,192,192,0.3);
    height: auto;
    background-color: white;
    flex-wrap: wrap;
    margin: 20px;
    display: flex;
}

#infoCpu {
    display: flex;
    height: auto;
    width: 100%;
    border: solid 1px rgba(255,199,56, 0.3);
    margin: 5px;
    justify-content: center;
}

    #infoCpu ul {
        padding: 10px;
        margin: 10px;
        font-family: Arial light;
        font-size: 20px;
    }

    #infoCpu li {
        padding: 10px;
        margin: 20px;
        font-family: Arial Light;
        font-size: 17px;
        float: left;
    }

#infoCpuAtt {
    height: auto;
    width: 100%;
    border: solid 1px rgba(255,199,56, 0.3);
    margin: 5px;
    display: flex;
    justify-content: center;
}

    #infoCpuAtt ul {
        padding: 10px;
        margin: 0px;
        font-family: Arial Light;
        font-size: 17px;
    }

    #infoCpuAtt li {
        padding: 10px;
        margin: 0px;
        font-family: Arial Light;
        font-size: 17px;
        float: left;
    }

#graficoCpu {
    width: 100%;
    height: auto;
    border: solid 1px rgba(255,199,56, 0.3);
    margin: 5px;
}

#conteudoRam {
    width: auto;
    border: solid 1px rgba(192,192,192,0.3);
    height: 520px;
    background-color: white;
    flex-wrap: wrap;
    display: flex;
    margin-right: -5px;
}

#conteudoUsoRam {
    width: 75%;
    border: solid 1px rgba(192,192,192,0.3);
    height: 520px;
    background-color: white;
    flex-wrap: wrap;
    margin: auto;
    display: flex;
}

#graficoRam {
    width: 100%;
    height: calc(100% - 50px);
    border: solid 1px rgba(255,199,56, 0.3);
    margin: 5px;
}

#infoRam {
    height: auto;
    width: 100%;
    border: solid 1px rgba(255,199,56, 0.3);
    margin: 5px;
}

#infoRamT {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
}

#infoRam ul {
    padding: 10px;
    margin: 0px;
    font-family: Arial Light;
    font-size: 17px;
}

#conteudoArmazenamento {
    width: 30%;
    height: auto;
    margin: 25px;
    background-color: white;
    border: solid 1px rgba(255,199,56, 0.3);
}

#listaGraficoArm {
    width: 100%;
    height: auto;
    margin: 5px;
}

    #listaGraficoArm ul {
        padding: 10px;
        margin: 0px;
        font-family: Arial Light;
        font-size: 17px;
    }

    #listaGraficoArm li {
        padding: 10px;
        margin: -20px;
        float: left;
    }

#graficoArm {
    width: 400px;
    height: auto;
}

/*#graficoArm2{
    width: 400px;
    height: auto;
}*/



/*fim do css maroto*/
